RPAY_KEY="rzp_test_vy52MbKOT9WsuC"
RPAY_SECRET="H6YQoe9fTC7ZsEVMjoypff17"
SHADOW_DATABASE_URL=""
DATABASE_URL=""
OPENREPLY_KEY=""
FB_PIXEL_ID=""
WHATSAPP_KEY="EAAVcVmHnfGwBO29G3yFg0Xd7arXN71ryaACgV5NQmTQpbvwwzx0g6ZB0syuZBW8SHinWkAVRIe6Llwm3NSSKq9tjXWPAx8Ve1RVQPlZCpdkLOV41LIQRki1M8Ly4YTv1w4N6Q5GTVeo66fZC7QV8ZB9woITkHicRqXOdN7S3Acgbqd4SWOls9x4sWIEtZCQwRy"