.ant-layout{
    background: none !important;
}

.ant-ribbon-wrapper {
    position: relative;
}

.ant-ribbon {
    box-sizing: border-box;
    margin: 0;
    padding: 0 8px;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: absolute;
    top: 8px;
    white-space: nowrap;
    background-color: #1677ff;
    border-radius: 4px;
}

.ant-ribbon.ant-ribbon-placement-end {
    inset-inline-end: -8px;
    border-end-end-radius: 0;
}

.ant-ribbon .ant-ribbon-corner {
    position: absolute;
    top: 100%;
    width: 8px;
    height: 8px;
    color: currentcolor;
    border: 4px solid;
    transform: scaleY(.75);
    transform-origin: top;
    filter: brightness(75%);
}

.ant-ribbon.ant-ribbon-placement-end .ant-ribbon-corner {
    inset-inline-end: 0;
    border-inline-end-color: transparent;
    border-block-end-color: transparent;
}


.ant-space {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.ant-space-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ant-space-gap-col-large {
    column-gap: 24px;
}

.ant-space-gap-row-large {
    row-gap: 24px;
}

.ant-space-gap-col-middle {
    column-gap: 16px;
}

.ant-space-gap-row-middle {
    row-gap: 16px;
}

.ant-badge {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    color: unset;
    line-height: 1;
}

.ant-badge.ant-badge-status {
    line-height: inherit;
    vertical-align: baseline;
}

.ant-badge.ant-badge-status .ant-badge-status-dot {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    border-radius: 50%;
}

.ant-badge.ant-badge .ant-badge-color-lime {
    background: #a0d911;
}

.ant-badge.ant-badge .ant-badge-color-lime:not(.ant-badge-count) {
    color: #a0d911;
}

.ant-badge.ant-badge-status .ant-badge-status-text {
    margin-inline-start: 8px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
}

.ant-btn.ant-btn-round.ant-btn-lg {
    border-radius: 40px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}
.ant-btn.ant-btn-lg {
    font-size: 16px;
    height: 40px;
    padding: 6.428571428571429px 15px;
}

.ant-popover-arrow{
        position: absolute;
            z-index: 1;
            display: block;
            pointer-events: none;
            width: 16px;
            height: 16px;
            overflow: hidden;
            border: 0;
            border-width: 0;
            border-style: none;

}

.ant-popover-placement-bottom .ant-popover-arrow {
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
}
.ant-modal-close-x{
    width: auto;
    height: auto;
}
/* 
.ant-popover .ant-popover-arrow:before {
    background: var(--antd-arrow-background-color);
    position: absolute;
        bottom: 0;
        inset-inline-start: 0;
        width: 16px;
        height: 8px;
        clip-path: polygon(1.6568542494923806px 100%, 50% 1.6568542494923806px, 14.34314575050762px 100%, 1.6568542494923806px 100%);
            content: "";
}
.ant-popover .ant-popover-arrow::after {
    content: "";
    position: absolute;
    width: 8.970562748477143px;
    height: 8.970562748477143px;
    bottom: 0;
    inset-inline: 0;
    margin: auto;
    border-radius: 0 0 2px 0;
    transform: translateY(50%) rotate(-135deg);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .05);
    z-index: 0;
    background: 0 0;
} */