.ant-ribbon-wrapper {
    position: relative;
}

.ant-ribbon {
    box-sizing: border-box;
    margin: 0;
    padding: 0 8px;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: absolute;
    top: 8px;
    white-space: nowrap;
    background-color: #1677ff;
    border-radius: 4px;
}

.ant-ribbon.ant-ribbon-placement-end {
    inset-inline-end: -8px;
    border-end-end-radius: 0;
}

.ant-ribbon .ant-ribbon-corner {
    position: absolute;
    top: 100%;
    width: 8px;
    height: 8px;
    color: currentcolor;
    border: 4px solid;
    transform: scaleY(.75);
    transform-origin: top;
    filter: brightness(75%);
}

.ant-ribbon.ant-ribbon-placement-end .ant-ribbon-corner {
    inset-inline-end: 0;
    border-inline-end-color: transparent;
    border-block-end-color: transparent;
}


.ant-space {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.ant-space-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ant-space-gap-col-large {
    column-gap: 24px;
}

.ant-space-gap-row-large {
    row-gap: 24px;
}

.ant-space-gap-col-middle {
    column-gap: 16px;
}

.ant-space-gap-row-middle {
    row-gap: 16px;
}

.ant-badge {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    color: unset;
    line-height: 1;
}

.ant-badge.ant-badge-status {
    line-height: inherit;
    vertical-align: baseline;
}

.ant-badge.ant-badge-status .ant-badge-status-dot {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    border-radius: 50%;
}

.ant-badge.ant-badge .ant-badge-color-lime {
    background: #a0d911;
}

.ant-badge.ant-badge .ant-badge-color-lime:not(.ant-badge-count) {
    color: #a0d911;
}

.ant-badge.ant-badge-status .ant-badge-status-text {
    margin-inline-start: 8px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
}