:root {
    --ui-color-primary: blue;
    --ui-color-secondary: #3d5b7d;
    --ui-color-black: #333333;
    --ui-color-accent: #eeefea;
}

body {
    margin: 0;
}

.header-nav-item-text{
    color: var(--ui-color-black);
    /* text-transform: uppercase; */
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.container.no-spacer{
    padding: 0;
}
.cursor-pointer{
    cursor: pointer;
}
.header-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.category-list .category-badge {
    display: inline-flex;
    padding: 3px 10px;
    text-transform: uppercase;
        background: #9c916e;
            color: #fff;
            font-size: 10px;
            letter-spacing: 1px;
}

.category-list .category-thumb {
    position: relative;
    background: beige;
    overflow: hidden;
}

.category-thumb img {
    width: 100%;
}
.category-thumb .link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    background: #b1b1b1b0;
    animation: fadeIn 0.6s 0.3s ease both;
}
.category-thumb .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: -100%;
    transition: 0.6s ease all;
}
.category-thumb:hover .hover {
    margin-left: 0;
}
.category-thumb:hover .link {
   display: flex;
}

.filters-section-wrapper._sticky-top {
    position: sticky;
    top: 20px;
}

.filters-section-wrapper{
    border:  1px solid #d6d6d6 ;
    border-radius: 4px;
    background: var(--ui-color-accent) !important;
    overflow: hidden;
}
.filters-section-wrapper .section-title{
    padding: 15px;
    background: #fff;
    color: var(--ui-color-black);
    font-size: 18px;
    font-family: SemiBold;
}

.hidden{
    display:none;
}

._success{
    color: #52c41a;
}

._danger{
    color:red;
}

._rounded{
    border-radius: 20px;
}
._text-center{
    text-align: center;
}


.line{
    height: 1px;
    background-color: #d6d6d6;
}

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.masonry-grid_column > img {
    width: 100%;
  margin-bottom: 30px;
}

.home-slider-jumbotron{
    padding-bottom: 40px;
    @media screen and (min-width: 800px){
    .slick-slide:not(.slick-active){
        transform: translate(35vw, 0) scale(0.6);
    }
    .slick-slide.slick-active{
        /* transform: translateY(-40px);     */
    }
    .slick-slide.slick-active + .slick-slide{
        transform: translate(-35vw,0) scale(0.6);
    }
}
}



.home-section-card-wrapper{
    border-radius: 15px;
    padding: 15px 20px;
}

._bg-pastel{
    border-radius: 5px;
    background: url('/assets/bg-pastel-4.jpg') center ;
    background-size: cover;
    padding: 25px 20px;
}

.spacer-md{
    padding: 20px 0
}

.carousel-slider-wrapper{
    position: relative;
}

.carousel-slider-wrapper .btn{
    position: absolute;
    top: calc(50% - 50px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 4px #acacac;
    border-radius: 20px;
    outline: 0;
    border: 0;
}

.carousel-slider-wrapper.slider-homepage-focused .carousel__slider-tray{
    display: flex;
    margin: auto;
    gap: 0;
}

.carousel-slider-wrapper .carousel__slider-tray {
    display: flex;
    gap: 20px;
}

.carousel-slider-wrapper .btn._prev{
    left: 20px;
}
.carousel-slider-wrapper .btn._next {
    right: 20px;
}

.carousel-slider-wrapper .btn[disabled]{
    opacity: 0.7;
    cursor:default ;
    display: none;
}

.nowrap{
    text-overflow: ellipsis;
     overflow: hidden;
      white-space: nowrap;
}


.slider-uplift{
    margin-top: -100px;
}

.slider-homepage-focused{
    
    .carousel-slider{
        padding: 0 30px;
    }
    .item{
        background: linear-gradient(#414141, #21201E);
        padding: 30px 40px;
        color: white;
        transition: all 0.3s ease;
        height: 100%;
        cursor: pointer;
    }

    .item-wrapper:first-child .item{
        border-radius: 30px 0 0 30px;
    }
        .item-wrapper:last-child .item{
            border-radius: 0 30px 30px 0;
        }

        .item-wrapper:hover .item{
            position: relative;
            background: linear-gradient(#873CEA, #6828F5);
            border-radius: 10px;
            transform: scale(1.2);
            z-index: 1;
        }

          .item-wrapper  .item-spacer{
            padding: 30px 0;height: 100%;
          }
}

.slider-spacer{
    padding: 30px;
}

.card-style-1{
    position: relative;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    box-shadow:0 10px 20px #e6e6e6;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease;

    &:hover{
        box-shadow: 0 10px 20px #d5d5d5;
    }

    .thumbnail{
        border-radius: 5px;
        width: 100%;
    }
    .btn-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -15px;
        left: calc(50% - 15px);
        width: 30px;
        height: 30px;
        font-size: 15px;
        border-radius: 15px;
        background-color: #2a2a2a;
        color: white;
    }
}
.card-style-2:nth-child(1n) .card-wrapper{
    background: #CEFADF;
}
.card-style-2:nth-child(2n) .card-wrapper{
    background: #D0DFFF;
}
.card-style-2:nth-child(3n) .card-wrapper{
    background: #FBE0D7;
}
.card-style-2:nth-child(4n) .card-wrapper{
    background: #F4E6EA;
}
.card-style-2{
     .card-wrapper{
        position: relative;
        padding: 20px;
        text-align: center;
        padding-bottom: 150px;
    border-radius: 5px;
    }

    .label-wrapper{
        margin-bottom: 20px;
        height: 90px;
        overflow: hidden;
    }

    .card-thumb-wrapper{
        position: relative;
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-top: -125px;
    }

    .card-thumb-cover{
        background-color: white;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 10px 20px #e6e6e6;
        width: 150px;
        height: 150px;
    }

    .thumb{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}


.homepage-hero-section{
    margin-top: -40px;
}

.homepage-hero-img{
    width: 100%;
    max-height: 500px;
        object-fit: contain;
        background: #190E50;
        object-position: left;
        border-radius: 5px;
}

._text-center{
    text-align: center;
}